.main {
	position: relative;
	left: 250px;
	padding: 75px 0;
    text-align: center;
	width: calc(100% - 300px);
	font-family: 'proxima-nova-bold';
	font-size: 2em;
}

@media screen and (min-width: 1024px) {
	.main {
		left: 0;
		width: calc(100% - 50px);
	}
}