<html>
  <head>

    <link href="../../stylesheets/typography.css" rel="stylesheet">
    <link href="../../stylesheets/icons.css" rel="stylesheet">
    <link href="nav.css" rel="stylesheet">
    <link href="../layout.css" rel="stylesheet">



  </head>
  <body>
    <div class="app-container">
      <div class="main-nav__drawer-knob-container">
        <a href="#!" class="main-nav__drawer-knob"></a>
      </div>
      <nav class="main-nav">
        <ul class="main-nav__list">
          <li class="main-nav__item main-nav-item--logo">
            <img src="img/VecnaMedicalLogo-White.png" alt="Vecna Medical Center Logo" />
          </li>
          <li class="main-nav__item main-nav__item--dropdown">
            <a href="#!" class="main-nav__link main-nav__link--dropdown main-nav__link--current">Queues</a>
            <ul class="dropdown-nav__list">
              <li class="dropdown-nav__item">
                <a href="#" class="dropdown-nav__link dropdown-nav__link--current">Dropdown Item I</a>
              </li>
              <li class="dropdown-nav__item">
                <a href="#" class="dropdown-nav__link">Dropdown Item II</a>
              </li>
              <li class="dropdown-nav__item">
                <a href="#" class="dropdown-nav__link">Dropdown Item III</a>
              </li>
              <li class="dropdown-nav__item">
                <a href="#" class="dropdown-nav__link">Dropdown Item IV</a>
              </li>
              <li class="dropdown-nav__item">
                <a href="#" class="dropdown-nav__link">Dropdown Item V</a>
              </li>
              <li class="dropdown-nav__item">
                <a href="#" class="dropdown-nav__link">Dropdown Item VI</a>
              </li>
            </ul>
          </li>
          <li class="main-nav__item main-nav__item--dropdown">
            <a href="#!" class="main-nav__link">Main Item B</a>
          </li>
          <li class="main-nav__item main-nav__item--dropdown">
            <a href="#!" class="main-nav__link main-nav__link--dropdown">Main Item C</a>
            <ul class="dropdown-nav__list">
              <li class="dropdown-nav__item">
                <a href="#" class="dropdown-nav__link">Dropdown Item I</a>
              </li>
              <li class="dropdown-nav__item">
                <a href="#" class="dropdown-nav__link">Dropdown Item II</a>
              </li>
              <li class="dropdown-nav__item">
                <a href="#" class="dropdown-nav__link">Dropdown Item III</a>
              </li>
              <li class="dropdown-nav__item">
                <a href="#" class="dropdown-nav__link">Dropdown Item IV</a>
              </li>
              <li class="dropdown-nav__item">
                <a href="#" class="dropdown-nav__link">Dropdown Item V</a>
              </li>
              <li class="dropdown-nav__item">
                <a href="#" class="dropdown-nav__link">Dropdown Item VI</a>
              </li>
            </ul>
          </li>
          <li class="main-nav__item main-nav__item--dropdown">
            <a href="#!" class="main-nav__link main-nav__link--dropdown">Main Item D</a>
            <ul class="dropdown-nav__list">
              <li class="dropdown-nav__item">
                <a href="#" class="dropdown-nav__link">Dropdown Item I</a>
              </li>
              <li class="dropdown-nav__item">
                <a href="#" class="dropdown-nav__link">Dropdown Item II</a>
              </li>
              <li class="dropdown-nav__item">
                <a href="#" class="dropdown-nav__link">Dropdown Item III</a>
              </li>
              <li class="dropdown-nav__item">
                <a href="#" class="dropdown-nav__link">Dropdown Item IV</a>
              </li>
              <li class="dropdown-nav__item">
                <a href="#" class="dropdown-nav__link">Dropdown Item V</a>
              </li>
              <li class="dropdown-nav__item">
                <a href="#" class="dropdown-nav__link">Dropdown Item VI</a>
              </li>
              <li class="dropdown-nav__item">
                <a href="#" class="dropdown-nav__link">Dropdown Item VII</a>
              </li>
              <li class="dropdown-nav__item">
                <a href="#" class="dropdown-nav__link">Dropdown Item VIII</a>
              </li>
              <li class="dropdown-nav__item">
                <a href="#" class="dropdown-nav__link">Dropdown Item IX</a>
              </li>
              <li class="dropdown-nav__item">
                <a href="#" class="dropdown-nav__link">Dropdown Item X</a>
              </li>
            </ul>
          </li>
          <li class="main-nav__item main-nav__item--dropdown">
            <a href="#!" class="main-nav__link main-nav__link--dropdown">Main Item E</a>
            <ul class="dropdown-nav__list">
              <li class="dropdown-nav__item">
                <a href="#" class="dropdown-nav__link">Dropdown Item I</a>
              </li>
            </ul>
          </li>
          <li class="main-nav__item main-nav__item--dropdown">
            <a href="#!" class="main-nav__link main-nav__link--dropdown">Main Item F</a>
            <ul class="dropdown-nav__list">
              <li class="dropdown-nav__item">
                <a href="#" class="dropdown-nav__link">Dropdown Item I</a>
              </li>
              <li class="dropdown-nav__item">
                <a href="#" class="dropdown-nav__link">Dropdown Item II</a>
              </li>
            </ul>
          </li>
          <li class="main-nav__item main-nav__item--dropdown">
            <a href="#!" class="main-nav__link main-nav__link--dropdown">Main Item G</a>
            <ul class="dropdown-nav__list">
              <li class="dropdown-nav__item">
                <a href="#" class="dropdown-nav__link">Dropdown Item I</a>
              </li>
              <li class="dropdown-nav__item">
                <a href="#" class="dropdown-nav__link">Dropdown Item II</a>
              </li>
              <li class="dropdown-nav__item">
                <a href="#" class="dropdown-nav__link">Dropdown Item III</a>
              </li>
            </ul>
          </li>
          <li class="main-nav__item main-nav__item--dropdown">
            <a href="#!" class="main-nav__link main-nav__link--dropdown">Main Item H</a>
            <ul class="dropdown-nav__list">
              <li class="dropdown-nav__item">
                <a href="#" class="dropdown-nav__link">Dropdown Item I</a>
              </li>
              <li class="dropdown-nav__item">
                <a href="#" class="dropdown-nav__link">Dropdown Item II</a>
              </li>
              <li class="dropdown-nav__item">
                <a href="#" class="dropdown-nav__link">Dropdown Item III</a>
              </li>
              <li class="dropdown-nav__item">
                <a href="#" class="dropdown-nav__link">Dropdown Item IV</a>
              </li>
              <li class="dropdown-nav__item">
                <a href="#" class="dropdown-nav__link">Dropdown Item V</a>
              </li>
            </ul>
          </li>
          <li class="main-nav__item main-nav__item--dropdown">
            <a href="#!" class="main-nav__link main-nav__link--dropdown">Main Item I</a>
            <ul class="dropdown-nav__list">
              <li class="dropdown-nav__item">
                <a href="#" class="dropdown-nav__link">Dropdown Item I</a>
              </li>
              <li class="dropdown-nav__item">
                <a href="#" class="dropdown-nav__link">Dropdown Item II</a>
              </li>
            </ul>
          </li>
          <li class="main-nav__item main-nav__item--dropdown">
            <a href="#!" class="main-nav__link main-nav__link--dropdown">Main Item J</a>
            <ul class="dropdown-nav__list">
              <li class="dropdown-nav__item">
                <a href="#" class="dropdown-nav__link">Dropdown Item I</a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="main-nav__list main-nav__list--secondary">
          <li class="main-nav__item main-nav__item--dropdown">
            <a href="#!" class="main-nav__link main-nav__link--dropdown">Logout</a>
          </li>
        </ul>
      </nav>
      <section class="main">Hello World!</section>
    </div>
  </body>
</html>