.app-container {
  width: calc(100% + 250px);
  position: relative;
  left: -250px;
  transition: left 0.25s;
  -webkit-transition: left 0.25s;
}

.app-container--drawer-open {
  left: 0;
  transition: left 0.25s;
  -webkit-transition: left 0.25s;
}

.app-header {
  background: #f3f3f3;
  height: 50px;
  display: flex;
  align-items: center;
  width: calc(100% - 250px);
  position: relative;
  left: 250px;
}

.main-nav__drawer-knob {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.main-nav__drawer-knob:before {
  content: "\f0c9";
  font-family: 'icomoon';
  font-size: 1.5em;
  color: #454b50;
}

.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'proxima-nova-light';
  background: #454b50;
  padding: 0;
  margin: 0;
  z-index: 20;

  position: absolute;
  top: 0;
  width: 250px;
}

.main-nav__list {
  list-style: none;
  margin: 0;

  padding: 1rem 0;
}

.main-nav__item {
  cursor: pointer;
  margin: 0;

  display: block;
}

.main-nav__link {
  color: #fff;
  padding: 0.625rem 1rem;

  width: calc(100% - 2rem);
  display: block;
}

.main-nav__link:hover {
  background: #000;
}

.main-nav__link--current {
  background: #000;
}

.main-nav__icon {
  position: relative;
  top: 0.1ex;
}

/* Dropdown Menu Items */
.main-nav__item--dropdown {
  display: flex;
  flex-direction: column;
}

.main-nav__link--dropdown {
  width: calc(100% - 2rem);
}

.dropdown-nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0.5rem;
  z-index: 2;

  display: none;
}

.dropdown-nav__link {
  color: #fff;
  padding: 0.625rem 0.5rem;
  margin: 0;
  display: block;
}

.dropdown-nav__link--current {
  background: #000;
}

.main-nav__link--dropdown:after {
  content: "\f0da";
  font-family: 'icomoon';
  color: #dadee0;
  float: right;
}

.main-nav__link--dropdown-expanded:after {
  content: "\f0d7";
  font-family: 'icomoon';
  color: #dadee0;
  float: right;
}

.dropdown-nav__link:hover {
  background: #000;
}

.main-nav__item--dropdown {
  position: relative;
  top: 0;
  left: 0;
}

.main-nav__item--dropdown:active > .dropdown-nav__list {
  display: block;
}

@media screen and (min-width: 1024px) {
  .app-container {
    width: 100%;
    position: relative;
    left: 0;
  }

  .app-header {
    display: none;
  }

  /* Basic Main Navigation */
  .main-nav {
    flex-direction: row;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
  }

  .main-nav__list {
    display: flex;
    align-items: stretch;
    padding: 0 0 0 0.5rem;
  }

  .main-nav__item {
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
    margin-right: 1rem;
    display: flex;
    align-items: center;
  }

  .main-nav__link {
    color: #fff;
    padding: 0.625rem;

    width: auto;
  }

  .main-nav__link:hover {
    background: #000;
  }

  .main-nav__list--secondary {
    padding: 0;
  }

  .main-nav__link--current {
    background: #000;
  }

  .main-nav__icon {
    position: relative;
    top: 0.1ex;
  }

  /* Dropdown Menu Items */
  .main-nav__item--dropdown {
    display: flex;
    flex-direction: row;
  }

  .main-nav__link--dropdown {
    width: auto;
  }

  .main-nav__link--dropdown:after {
    content: "\f0d7";
    font-family: 'icomoon';
    color: #dadee0;
    position: relative;
    top: 0.1ex;
    left: 6px;
  }

  .main-nav__link--dropdown-expanded:after {
    content: "\f0d7";
    font-family: 'icomoon';
    color: #dadee0;
    position: relative;
    top: 0.1ex;
    left: 6px;
  }

  .dropdown-nav__list {
    background: #2d3135;
    position: absolute;
    top: 50px;
    left: 0;
    list-style: none;
    min-width: 250px;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    z-index: 2;

    display: none;
  }

  .dropdown-nav__list--secondary {
    right: 0;
    left: auto;
  }

  .dropdown-nav__link {
    color: #fff;
    padding: 1rem 0.5rem;
    display: flex;
    align-items: center;
    width: calc(100% - 1rem);
  }

  .dropdown-nav__link:hover {
    background: #000;
    width: calc(100% - 1rem);
  }

  .main-nav__item--dropdown {
    position: relative;
    top: 0;
    left: 0;
  }

  .dropdown-nav__list--hidden {
    display: none;
  }

  .main-nav__item--dropdown:hover > .dropdown-nav__list {
    display: block;
  }

  .main-nav__item--dropdown-expanded:hover > .dropdown-nav__list {
    display: block;
  }


}