<html>
  <head>

    <link href="../../stylesheets/styleguide.css" rel="stylesheet">
    <link href="../../stylesheets/icons.css" rel="stylesheet">
    <link href="nav.css" rel="stylesheet">
    <link href="../layout.css" rel="stylesheet">

    <script src="../../js/jquery.js"></script>
    <script src="nav.js"></script>

  </head>
  <body>
    <h1>Navigation</h1>

    <section class="blocks">
      <h2>Basic Main Navigation</h2>
      <p>The basic main navigation bar is great when you have only a few navigation items.</p>
      <p>To indicate a current item, add class <code>main-nav__link--current</code>.</p>
      <div class="block__image-container">
        <img src="img/main-nav__basic.png" alt="basic main navigation screenshot" />
      </div>
    </section>

    <section class="blocks">
      <h2>Item Icons</h2>
      <p>To add an icon to a navigation item, use class <code>main-nav__icon</code>, followed by the class name of the icon.</p>
      <div class="block__image-container">
        <img src="img/main-nav__icons.png" alt="main navigation with icons screenshot" />
      </div>
    </section>

    <section class="blocks">
      <h2>Dropdown Menu</h2>
      <p>Always use both <code>hover</code> and <code>click</code> to trigger dropdown menus. Although it is possible to detect whether a device supports touch screen or not, it is safer to always include click support, and never assume a device is exclusively touch or the other.</p>
      <div class="block__image-container">
        <img src="img/main-nav__dropdown.png" alt="main navigation with dropdown menu screenshot" />
      </div>
    </section>
  </body>
</html>