/* Skiplinks */
.skiplinks {
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 1em;
  position: fixed;
  top: 0;
  left: -9999px;
  z-index: 2;
  background: #f3f3f3;
}

.skiplinks--focused {
  position: relative;
  top: 0;
  left: 0;
}

.skiplinks__item {
  padding: 1em;
}

.skiplinks__item:first-child {
  padding-left: 0;
}

/* Main Navigation */
.app-container {
  width: calc(100% + 250px);
  position: relative;
  left: -250px;
  transition: left 0.25s;
  -webkit-transition: left 0.25s;
  height: 100%;
}

.app-container--drawer-open {
  left: 0;
  transition: left 0.25s;
  -webkit-transition: left 0.25s;
}

.page-header {
  background: #f3f3f3;
  display: flex;
  align-items: flex-start;
  width: calc(100vw - 2rem);
  position: relative;
  left: 250px;
  height: auto;
  padding: 1rem;
}

.main-nav__mobile-toggle {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 1em;
}

.main-nav__mobile-toggle--page-header {
  padding: 0;
  margin-right: 2rem;
  margin-top: 2px;
}

.main-nav__mobile-toggle:before {
  content: "\f0c9";
  font-family: 'icomoon';
  font-size: 1.5em;
  color: #454b50;
}

.main-nav {
  font-family: 'proxima-nova-light';
  background: #454b50;
  padding: 0;
  margin: 0;
  z-index: 20;
  display: flex;

  flex-direction: column;
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  -webkit-transition: left 0.25s;
  transition: left 0.25s;
}

.main-nav__list {
  list-style: none;
  margin: 0;

  padding: 1rem 0;
  overflow-y: scroll;
}

.main-nav__list--secondary {
  border-top: 1px solid #2d3135;
}

.main-nav__item {
  cursor: pointer;
  margin: 0;

  display: block;
}

.main-nav-item--logo {
  text-align: center;
  margin: 1rem 0;
}

.main-nav-item--logo img {
  height: 60px;
}

.main-nav__link {
  color: #fff;
  padding: 0.625rem 1rem;

  width: calc(100% - 2rem);
  display: block;
}

.main-nav__link:hover {
  background: #2d3135;
}

.main-nav__link--current {
  background: #2d3135;
}

.main-nav__icon {
  position: relative;
  top: 0.1ex;
}

/* Dropdown Menu Items */
.main-nav__item--dropdown {
  display: flex;
  flex-direction: column;
}

.main-nav__item--dropdown .main-nav__link--current {
  background: #2d3135;
}

.main-nav__link--dropdown {
  width: calc(100% - 2rem);
}

.dropdown-nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0.5rem;
  z-index: 2;

  display: none;
}

.dropdown-nav__link {
  color: #fff;
  padding: 0.625rem 0.5rem;
  margin: 0;
  display: block;
}

.dropdown-nav__link--current {
  background: #2d3135;
}

.main-nav__link--dropdown:after {
  content: "\f0da";
  font-family: 'icomoon';
  color: #dadee0;
  float: right;
}

.main-nav__link--dropdown-expanded:after {
  content: "\f0d7";
  font-family: 'icomoon';
  color: #dadee0;
  float: right;
}

.dropdown-nav__link:hover {
  background: #2d3135;
}

.main-nav__item--dropdown {
  position: relative;
  top: 0;
  left: 0;
}

@media screen and (min-width: 1024px) {
  .app-container {
    width: 100%;
    position: relative;
    left: 0;
  }

  .page-header {
    display: flex;
    position: relative;
    left: 0;
  }

  .main-nav__mobile-toggle {
    display: none;
  }

  /* Basic Main Navigation */
  .main-nav {
    font-family: 'proxima-nova-light';
    background: #454b50;
    padding: 0;
    margin: 0;
    z-index: 20;
    display: flex;

    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100vw;
    height: auto;
  }

.dropdown-nav__list {
  display: none;
  position: absolute;
  min-width: 250px;
  margin-top: 2px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #2d3135;
  z-index: 2;
  padding: 12.5px 0 0;
  list-style: none;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  align-items: flex-start;
}

.main-nav__item {
  position: relative;
  height: 50px;
  margin: 0 5px 0 0;
  line-height: 0;
}

.main-nav__item--dropdown {
  height: 45px;
  text-align: left;
  padding: 0 5px 5px 5px;
}

.main-nav__item:hover > .dropdown-nav__list {
  display: block;
}

.main-nav__icon {
  position: relative;
  top: 1px;
  z-index: 1;
}

.main-nav__icon--expand-menu {
  margin-left: 5px;
  color: #999;
}

.main-nav__icon--expand-menu:before {
  content: '/f07d';
  font-family: 'icomoon';
}

.main-nav__link {
  color: #fbfbfb;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border: 1px solid transparent;
  height: 40px;
  margin: 5px 0 0 5px;
  padding: 0 1em;
  border-radius: 2px;
  line-height: 38px;
  text-decoration: none;
  font-size: 16px;
}

.main-nav__link:link, .main-nav__link:visited {
  color: #fbfbfb;
}

.main-nav__link:hover, .main-nav__link:link:hover, .main-nav__link:visited:hover, .main-nav__link.current {
  background: #222427;
  border: solid 1px #00b6f2;
  color: #00b6f2;
}

.main-nav__link--dropdown {
  display: block;
  margin: 0;
}

.main-nav__link-content {
  position: relative;
  font-weight: 100;
  z-index: 1;
}

.main-nav__badge {
  position: relative;
  margin: -1ex 0 0 -1ex;
  z-index: 1;

  padding: 1px 3px;
  padding: 1px\9;
  background: #ccd6e0;
  text-align: center;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 1em;
  color: #333;
  vertical-align: text-top;
  border-radius: 1em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);

  display: inline-block;
}

.main-nav__badge--primary {
  background: #0090bf;
  color: #fff;
}

.main-nav__badge:before {
  content: "";
  display: inline-block;
  width: 0;
  vertical-align: middle;
}
}