/* Skiplinks */
.skiplinks {
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 1em;
  position: fixed;
  top: 0;
  left: -9999px;
  z-index: 2;
  background: #f3f3f3;
}

.skiplinks--focused {
  position: relative;
  top: 0;
  left: 0;
}

.skiplinks__item {
  padding: 1em;
}

.skiplinks__item:first-child {
  padding-left: 0;
}

/* Main Navigation */
.app-container {
  width: calc(100% + 250px);
  position: relative;
  left: -250px;
  transition: left 0.25s;
  -webkit-transition: left 0.25s;
  height: auto;
  background: #454b50;
}

.app-container--drawer-open {
  left: 0;
  transition: left 0.25s;
  -webkit-transition: left 0.25s;
}

.page-header {
  background: #f3f3f3;
  display: flex;
  align-items: flex-start;
  width: calc(100vw - 2rem);
  position: relative;
  left: 250px;
  height: auto;
  padding: 1rem;
}

.main-nav__mobile-toggle {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 1em;
}

.main-nav__mobile-toggle--page-header {
  margin-right: 1em;
  position: relative;
  top: -2.5px;
}

.main-nav__mobile-toggle:before {
  content: "\f0c9";
  font-family: 'icomoon';
  font-size: 1.5em;
  color: #454b50;
}

.main-nav {
  font-family: 'proxima-nova-light';
  background: #454b50;
  padding: 0;
  margin: 0;
  z-index: 20;
  display: flex;

  flex-direction: column;
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;

  display: none;
}

.main-nav__list {
  list-style: none;
  margin: 0;

  padding: 1rem 0;
}

.main-nav__list--secondary {
  border-top: 1px solid #2d3135;
}

.main-nav__item {
  cursor: pointer;
  margin: 0;

  display: block;
}

.main-nav-item--logo {
  text-align: center;
  margin: 1rem 0;
}

.main-nav-item--logo img {
  height: 60px;
}

.main-nav__link {
  color: #fff;
  padding: 0.625rem 1rem;

  width: calc(100% - 2rem);
  display: block;
}

.main-nav__link:hover {
  background: #2d3135;
}

.main-nav__link--current {
  background: #2d3135;
}

.main-nav__icon {
  position: relative;
  top: 0.1ex;
}

/* Dropdown Menu Items */
.main-nav__item--dropdown {
  display: flex;
  flex-direction: column;
}

.main-nav__item--dropdown .main-nav__link--current {
  background: #2d3135;
}

.main-nav__link--dropdown {
  width: calc(100% - 2rem);
}

.dropdown-nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0.5rem;
  z-index: 2;

  display: none;
}

.dropdown-nav__link {
  color: #fff;
  padding: 0.625rem 0.5rem;
  margin: 0;
  display: block;
}

.dropdown-nav__link--current {
  background: #2d3135;
}

.main-nav__link--dropdown:after {
  content: "\f0da";
  font-family: 'icomoon';
  color: #dadee0;
  float: right;
}

.main-nav__link--dropdown-expanded:after {
  content: "\f0d7";
  font-family: 'icomoon';
  color: #dadee0;
  float: right;
}

.dropdown-nav__link:hover {
  background: #2d3135;
}

.main-nav__item--dropdown {
  position: relative;
  top: 0;
  left: 0;
}

/* Contents */
.contents {
  padding: 1em;
  border: 1px solid #dadee0;
  font-size: 1rem;
}

.contents__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contents__h1 {
  font-size: 1.2em;
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .app-container {
    width: 100%;
    position: relative;
    left: 0;
    background: #fff;
  }

  .page-header {
    display: flex;
    position: relative;
    left: 0;
  }

  .main-nav__mobile-toggle {
    display: none;
  }

  /* Basic Main Navigation */
  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
    width: initial;
    height: 50px;
  }

  .main-nav-item--logo img {
    height: 40px;
  }

  .main-nav__list {
    display: flex;
    align-items: stretch;
    padding: 0 0 0 0.5rem;
  }

  .main-nav__item {
    position: relative;
    top: 0;
    left: 0;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    height: 50px;
  }

  .main-nav__link {
    color: #fff;
    padding: 0.625rem;

    width: auto;
  }

  .main-nav__link:hover {
    background: #2d3135;
  }

  .main-nav__list--secondary {
    padding: 0;
  }

  .main-nav__link--current {
    background: #2d3135;
  }

  .main-nav__icon {
    position: relative;
    top: 4px;
    padding-right: 0.5em;
  }

  /* Dropdown Menu Items */
  .main-nav__item--dropdown {
    display: flex;
    flex-direction: row;
  }

  .main-nav__item--dropdown:hover {
    background: #2d3135;
  }

  .main-nav__link--dropdown {
    width: auto;
  }

  .main-nav__link--dropdown:after {
    content: "\f0d7";
    font-family: 'icomoon';
    color: #dadee0;
    position: relative;
    top: 0.1ex;
    left: 6px;
  }

  .main-nav__link--dropdown-expanded:after {
    content: "\f0d7";
    font-family: 'icomoon';
    color: #dadee0;
    position: relative;
    top: 0.1ex;
    left: 6px;
  }

  .dropdown-nav__list {
    background: #2d3135;
    position: absolute;
    top: 50px;
    left: 0;
    list-style: none;
    min-width: 250px;
    min-height: 50px;
    flex-direction: column;
    padding: 0.5rem 1rem;
    z-index: 2;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    display: none;
  }

  .dropdown-nav__list--secondary {
    right: 0;
    left: auto;
  }

  .dropdown-nav__link {
    color: #fff;
    padding: 1rem 0.5rem;
    display: flex;
    align-items: center;
    width: calc(100% - 1rem);
  }

  .dropdown-nav__link:hover {
    background: #000;
    width: calc(100% - 1rem);
  }

  .main-nav__item--dropdown {
    position: relative;
    top: 0;
    left: 0;
  }
}