.main-nav {
  position: relative;
  height: 50px;
  background: #454b50;
  z-index: 20;
  -webkit-transition: left 0.25s;
  transition: left 0.25s;

  display: flex;
  justify-content: space-between;
}

.dropdown-nav__list {
  display: none;
  position: absolute;
  min-width: 250px;
  margin-top: 2px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #2d3135;
  z-index: 2;
  padding: 12.5px 0 0;
  list-style: none;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  align-items: flex-start;
}

.main-nav__item {
  position: relative;
  height: 50px;
  margin: 0 5px 0 0;
  line-height: 0;
}

.main-nav__item--dropdown {
  height: 45px;
  text-align: left;
  padding: 0 5px 5px 5px;
}

.main-nav__item:hover > .dropdown-nav__list {
  display: block;
}

.main-nav__icon {
  position: relative;
  top: 1px;
  z-index: 1;
}

.main-nav__icon--expand-menu {
  margin-left: 5px;
  color: #999;
}

.main-nav__icon--expand-menu:before {
  content: '/f07d';
  font-family: 'icomoon';
}

.main-nav__link {
  color: #fbfbfb;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border: 1px solid transparent;
  height: 40px;
  margin: 5px 0 0 5px;
  padding: 0 1em;
  border-radius: 2px;
  line-height: 38px;
  text-decoration: none;
  font-size: 16px;
}

.main-nav__link:link, .main-nav__link:visited {
  color: #fbfbfb;
}

.main-nav__link:hover, .main-nav__link:link:hover, .main-nav__link:visited:hover, .main-nav__link.current {
  background: #222427;
  border: solid 1px #00b6f2;
  color: #00b6f2;
}

.main-nav__link--dropdown {
  display: block;
  margin: 0;
}

.main-nav__link-content {
  position: relative;
  font-weight: 100;
  z-index: 1;
}

.main-nav__badge {
  position: relative;
  margin: -1ex 0 0 -1ex;
  z-index: 1;

  padding: 1px 3px;
  padding: 1px\9;
  background: #ccd6e0;
  text-align: center;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 1em;
  color: #333;
  vertical-align: text-top;
  border-radius: 1em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);

  display: inline-block;
}

.main-nav__badge--primary {
  background: #0090bf;
  color: #fff;
}

.main-nav__badge:before {
  content: "";
  display: inline-block;
  width: 0;
  vertical-align: middle;
}