@font-face {
  font-family: proxima-nova;
  src: url(../fonts/ProximaNova-Reg-webfont.woff);
}
@font-face {
  font-family: proxima-nova-bold;
  src: url(../fonts/ProximaNova-Bold-webfont.woff);
}
@font-face {
  font-family: proxima-nova-light;
  src: url(../fonts/ProximaNova-Light-webfont.woff);
}
@font-face {
  font-family: icomoon;
  src: url(../fonts/icomoon.woff);
}

/* Font */
h1 {
  font-family: 'proxima-nova-bold';
  font-weight: lighter;
  line-height: 3
}

h2 {
  font-family: HelveticaNeue, Helvetica, arial, verdana, sans-serif;
  font-weight: 700;
}

h3, strong, dt, th {
  font-family: 'proxima-nova-bold';
  font-weight: lighter;
}

p {
  font-family: 'proxima-nova-light';
}

/* Typography */

body {
  color: #454b50;
}

h1 {
  line-height: 1.25;
  font-size: 1.6em;
}

h2 {
  font-size: 1.2em;
  text-transform: uppercase;
  color: #687279;
}

h3 {
  line-height: 1.25;
}

.blocks {
  margin: 2rem 1rem 3rem 1rem;
}

code {
  color: #53901f;
}

a {
  text-decoration: none;
}

.primary-link, .primary-link:active, .primary-link:hover, .primary-link:visited {
  color: #0090bf;
}












.color-block__container {
	display: flex;
}
.color-block {
	width: 100px;
	height: 150px;
	color: #454b50;
	display: flex;
	direction: column;
	align-items: flex-end;
	justify-content: center;
  font-family: 'proxima-nova-light';
}
.color-block--dropdown-background {
  background: #2d3135;
  color: #fff;
}
.color-block--main-nav-background {
	background: #454b50;
	color: #fff;
}
.color-block--h2-color {
  background: #687279;
  color: #fff;
}
.color-block--aside-background {
	background: #f3f3f3;
}
.color-block--well-background {
	background: #f2f1f0;
}
.color-block--body-background {
	background: #fbfbfb;
}
.color-block--default-button {
	background: #dadee0;
}
.color-block--primary-button {
	background: #0090bf;
	color: #fff;
}
.color-block--default-button-font {
	background: #0a5679;
	color: #fff;
}

.font-block {
  margin: 2rem 0;
}
.font-block--light {
  font-family: 'proxima-nova-light';
}
.font-block--regular {
  font-family: 'proxima-nova';
}
.font-block--bold {
  font-family: 'proxima-nova-bold';
}
.font-block--helvetica {
  font-family: HelveticaNeue, Helvetica, arial, verdana, sans-serif;
}
.font-block__summary {
  width: 6rem;
}
.font-block__example-container {
  border-top: 1px solid #dadee0;
  display: flex;
  align-items: center;
  padding-top: 1rem;
  margin-top: 1rem;
}
.font-block__summary {
  margin-right: 1rem;
  font-size: 1.5em;
}
.typography-block {
  display: flex;
  margin-bottom: 1rem;
}
.typography-block__h1 {
  line-height: 1.25;
  font-size: 1.6em;
  font-family: 'proxima-nova-bold';
}
.typography-block__h2 {
  font-size: 1.2em;
  text-transform: uppercase;
  color: #687279;
  font-family: 'proxima-nova-bold';
}
.typography-block__h3 {
  font-family: 'proxima-nova-bold';
  line-height: 1.25;
}
.typography-block__p {
  font-family: 'proxima-nova-light';
  line-height: 1.25;
}
.typography-block__summary {
  width: 6rem;
}
.typography-block__example {
  width: 80%;
}
